<div class="comment">
  <div class="comment-header">
    <%= image_tag(comment.user.photo.url(:thumbnail)) %>
    <div class="comment-user">
      <%= comment.user.username %>
      <%= comment.created_at %>
    </div>
  </div>
  <%= comment.description %>
</div>
