<div class="col-md-6 col-md-offset-3">
  <div class="profile-header">
    <%= image_tag(@user.photo.url(:profile), :class => "profile-photo") %>
    <h1 class="username-heading"><%= @user.username %></h1>
    <p class="user-desc-text"><%= @user.description %></p>
  </div>
  <div id="posts-grid">
    <%= render @user_posts %>
  </div>
</div>
