<div class="col-md-6 col-md-offset-3">
  <div class="profile-header">
    <%= image_tag(@user.photo.url(:profile), :class => "profile-photo") %>
    <div class="profile-text">
      <h1 class="username-heading"><%= @user.username %></h1>
      <p class="user-desc">
        <% if @user.description %>
          <%= @user.description %>
        <% else %>
          User has not written a description yet.
        <% end %>
      </p>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <button class="submit-btn">Edit Profile</button>
  <% end %>
</div>
