<div class="col-md-4 grid-item">
  <%= link_to post, :action => 'go', :class => "post-link" do %>
    <div class="post">
      <% if post.photo.file? %>
        <%= image_tag(post.photo.url, :class => "post-photo") %>
      <% end %>
      <div class="post-content">
        <h1 class="post-heading-sm"><%= post.heading %></h1>
        <p class="post-text-sm"><%= post.description %></p>
      </div>
    </div>
  <% end %>
</div>
