<div id="posts-grid">
  <div class="col-md-4 grid-item">
    <div class="post">
      <h1 class="post-heading">Hello</h1>
      <p class="post-text">Hello my name is Dennis Parkalk sfdja;d lasd;lf sal fjkas; ldjdsa;l jas;l fja;lsj fas;l jfals;kj fal;sd fja;ls jf;aljfl;kj</p>
    </div>
  </div>
  <div class="col-md-4 grid-item">
    <div class="post">
      <h1 class="post-heading">Hello</h1>
      <p class="post-text">Hello my name is Dennis Park</p>
    </div>
  </div>
  <div class="col-md-4 grid-item">
    <div class="post">
      <h1 class="post-heading">Hello</h1>
      <p class="post-text">Hello my name is Dennis Park alksj ;lasd fjal;s jfa;ls jfa;lsjad;slk</p>
    </div>
  </div>
  <div class="col-md-4 grid-item">
    <div class="post">
      <h1 class="post-heading">Hello</h1>
      <p class="post-text">Hello my name is Dennis Park</p>
    </div>
  </div>
  <div class="col-md-4 grid-item">
    <div class="post">
      <h1 class="post-heading">Hello</h1>
      <p class="post-text">Hello my name is Dennis Park</p>
    </div>
  </div>
</div>