.comment {
  padding: 24px;
  border: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 4px !important;
  margin-bottom: 20px;
}
.comment-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.comment-user-photo {
  height: 36px;
  width: 36px;
  border-radius: 18px;
}
.comment-user {
  margin-left: 10px;
}
.comment-username {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
}
.comment-time {
  margin: 0px;
  color: #a9a9a9;
  font-size: 12px;
}
