.form-heading {
  font-weight: bold;
  margin-bottom: 30px;
}
.input-field {
  padding: 16px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  margin-bottom: 20px;
}
.input-field-focus {
  padding: 14px;
  border-width: 3px;
  border-color: #7B8CDE;
}
.input {
  width: 100%;
  border: none;
  font-size: 16px;
}
.input:focus {
  outline: none;
}
.file-input-field {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.file-input-btn {
  position: relative;
  height: 100px;
  width: 100px;
  border-color: #9D9D9D;
  border-radius: 50px;
  background-color: white;
}
.file-input-caption {
  position: absolute;
  top: 39px;
  left: -150px;
  color: #a9a9a9;
}
.file-icon {
  font-size: 30px;
}
.preview {
  margin: 0px auto;
}
.submit-btn {
  margin-bottom: 20px;
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  background-color: #7B8CDE;
  color: white;
  font-size: 16px;
}
.submit-btn:hover {
  background-color: #AEBFFF;
  color: white;
}
