.f-navbar {
  background-color: white;
  padding: 20px 20px;
}
a.f-navbar-brand {
  margin-right: 20px;
  color: black !important;
  font-size: 25px;
  font-weight: bold;
}
a.f-navbar-brand:hover {
  color: #7B8CDE !important;
}
.f-navbar-nav a {
  color: black !important;
  font-size: 20px;
}
.f-navbar-nav a:hover {
  color: #7B8CDE !important;
}
.create-btn {
  background-color: #7B8CDE;
  color: white !important;
  border-radius: 4px;
}
.create-btn:hover {
  background-color: #AEBFFF !important;
}
@media (min-width: 768px) {
  .f-navbar {
    background-color: white;
    padding: 20px 50px;
  }
}
