.post {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  border: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 4px !important;
  color: black;
  z-index: -1;
}
.post-photo-sm {
  height: 150px;
  width: 150px;
}
.post-content {
  width: 100%;
  overflow: auto;
  padding: 14px 24px;
}
.post-heading-sm {
  margin-top: 0px;
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-text-sm {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-footer-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-footer-container-sm {
  display: flex;
  flex-direction: row;
  z-index: 9999;
}
.post-footer-btn-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 36px;
  width: 36px;
}
.post-user-photo-sm {
  height: 36px;
  width: 36px;
  border-radius: 18px;
}
.post-user-text-sm {
  margin-left: 10px;
  margin-right: 20px;
}
.post-username-sm {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
}
.post-time-sm {
  margin: 0px;
  font-size: 12px;
  color: #a9a9a9;
}
.post-heading-lg {
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: bold;
}
.post-text-lg {
  font-size: 20px;
  margin-bottom: 40px;
}
.post-user-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.post-user-photo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.post-user-text {
  margin-left: 20px;
}
.post-username {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}
.post-time {
  color: #a9a9a9;
}
.post-photo {
  width: 100%;
  margin-bottom: 50px;
}
