.profile-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.profile-text {
  margin-left: 20px;
}
.username-heading {
  margin-top: 5px;
  font-weight: bold;
}
.user-desc {
  color: #a9a9a9;
}
.user-posts-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}
.user-no-post {
  margin-top: 40px;
}
